/* Additional Styles for Image Flow */
.row{
	max-width: 100%;
}
.wrap {
	padding: 0.5rem 1rem;
}

.small {
	font-size: .5rem;
}

#top-nav, #side-nav{
	background: #333;
}
.tab-bar .menu-icon span:after{
	left: 0rem;
}
.side-nav{
	background-color: #333;
}
.side-nav li.divider{
	border-top-color: #444;
}
#tool-bar{
	height: 2.5rem;
	margin-bottom: 0;
	padding: 0.25rem 0.5rem;
}
.wpstyle{
	background-color: #f7f7f7;
	border-color: #ccc;
	border-width: 1px;
	color: #333;
}
.wpstyle:hover{
	background-color: #fff;
	border-color: #333;
	border-width: 1px;
	color: #333;
}


#publish-tools{
	border: solid 1px #ccc;
}
#publish-tools hr{
	margin-top: 0;
}

div#tinyMCE {
	border: 1px solid #d8d8d8;
	padding: 10px;
	margin-bottom: 20px;
	height: 500px;
	overflow: auto;
}

/*Modal Styles*/

#media-modal {
	padding: 0;
	min-height: 80%;
}
#media-grid [class*="column"] + [class*="column"]:last-child{
	float: left;	
}

#media-modal .close-reveal-modal{
	top: 0;
}
#top-toolbar{
	background-color: rgba(252, 252, 252, 1);
	border-bottom: solid 1px #ccc;
	color: #000;
}
#top-toolbar label{
	display: inline-block;
	margin-left: .5rem;
}
#top-toolbar label.grid{
	display: inline;
	font-size: .5rem;
	padding: 0;
	margin: -1rem 0;
}
.media-frame-title{
	font-weight: bolder;
}

#media-grid{
	padding-bottom: 52px;
}

#bottom-toolbar {
	background-color: rgba(252, 252, 252, 1);
	border-top: solid 1px #ccc;
	position: absolute;
	display: none;
	bottom: 0;
}
#bottom-toolbar label{
	padding-bottom: .5rem;
}
#selected-count{
	margin-left: .25rem;
}
#bottom-toolbar i{
	font-size: 1.25rem;
	padding-top: .5rem;
}
#bottom-toolbar button {
	margin-left: 0.5rem;
}
#bottom-toolbar .icon-button, #bottom-toolbar .icon-button label{
	color: #222;
	background: #eee;
}
#bottom-toolbar .important-icon-button, #bottom-toolbar .important-icon-button label{
	color: #fff;
	background: #2ea2cc;
}


/*Media Grid*/

.grid-wrap{	
	background: #eee;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 33.3333%;
	margin: 0;
	position: relative;
	border: solid 1px white;
}

.image-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.image-wrap:hover {
    cursor: pointer;
}
.image-wrap img {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
	max-width: 100%;
	height:auto;
	width:auto;
}
.image-wrap i{
	display: none;
}
.selected i{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.25rem;
	z-index: 100;
	color: #2ea2cc;
}
#add-new{
	font-size: 2.5rem;
	color: #2ea2cc;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
	max-width: 100%;
	height:auto;
}
#add-new i{
	display: inline-block;
}

#insert-button:hover {
    cursor: pointer;
}

/*Full Width*/

#full-width-area {
    height: 500px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
#full-width-area .right-arrow {
    position: absolute;
    bottom: 200px;
    right: 50px;
    font-size: 50px;   
}
#full-width-area .left-arrow {
    position: absolute;
    bottom: 200px;
    left: 50px;
    font-size: 50px;   
}
.fullwidth-wrap{	
	background: #eee;
	/*float: left;*/
	text-align: center;
	vertical-align: middle;
	margin: 0;
	position: absolute;
    top: 0px;
    left: 0px;
	/*border: solid 1px white;*/
    height: 100%;
    width: 80%;
    height: 440px;
    margin-left: 100px;
}
.fullwidth-wrap.transi{
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;  
}
.fullwidth-wrap.selected i{
	position: absolute;
	bottom: 18px;
	left: 30px;
	font-size: 4.25rem;
	z-index: 100;
	color: #2ea2cc;
}
.fullwidth-wrap i{
	position: absolute;
	bottom: 18px;
	left: 30px;
	font-size: 4.25rem;
	z-index: 100;
	color: #dddddd;
}
.fullwidth-wrap i:hover{
    cursor: pointer;
}
.fw-image-wrap{
	width: 100%;
	height: 100%;
}
.fw-image-wrap img {
	position: relative;
	text-align: center;
	max-height: 100%;
	max-width: 100%;
	height:auto;
	width:auto;
}
.fw-image-wrap i{
	display: none;
}
.fw-selected i{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.25rem;
	z-index: 100;
	color: #2ea2cc;
}

.fw #bottom-toolbar {
    display: block;
}

#slidertext {
    color: #2ba6cb;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    font-weight: bold;
}

.selected-pic-actions {
position: relative;
float: left;
padding-top: 6px;
margin-right: 10px;
}
.selected-pic-actions span {
    font-size: 0.8em;
}
.selected-pic-actions #clear {
    position: relative;
    top: -4px;
    color: #2ea2cc;
}
.selected-pic-actions #clear:hover {   
    cursor: pointer;
}
/*Upload Page*/
#upload-area, #mobile-upload{
	padding: 2rem 1rem 5rem;
}
#from-url{
	border-top: solid 1px #ccc;
	padding: 1rem;
}

#from-url h5{
	padding-bottom: 1rem;
}

/*Uploading Grid*/
#uploading{
	display: inline-block;
	position: absolute;
	z-index: 100;
	font-size: 4rem;
	padding: 30% 20%;
}

@media only screen and (min-width: 40.063em){

	.grid-wrap{	
		padding: 0 0 25%;
	}
	#add-new{
		font-size: 5rem;
	}

}
@media only screen and (min-width: 64.063em){

	.grid-wrap{	
		padding: 0 0 16.6667%;
		margin: 0.9375em;
	}

}

@media only screen and (max-width: 40em) { 

    .fullwidth-wrap {
        margin-left: 0px !important;
        width: 100%;
        top: 0px !important;
        padding: 0px;
    }
    .fullwidth-wrap i {
        position: absolute;
        bottom: 40px;
        left: 40px;
        font-size: 3.5rem;
    }
    .fullwidth-wrap.selected i{
        position: absolute;
        bottom: 40px;
        left: 40px;
        font-size: 3.5rem;
    }
    #full-width-area .right-arrow {
        position: absolute;
        bottom: 60px !important;
        right: 100px;
        font-size: 30px;
    }
    #full-width-area .left-arrow {
        position: absolute;
        bottom: 60px !important;
        left: 100px;
        font-size: 30px;        
    }  
    #slidertext {
        bottom: 50px;
    }
    #cg-button {
        font-size: 0.6em;
    }
}