/* Additional Styles for Image Flow */
.row{
	max-width: 100%;
}
.wrap {
	padding: 0.5rem 1rem;
}

.small {
	font-size: .5rem;
}

#top-nav, #side-nav{
	background: #333;
}
.tab-bar .menu-icon span:after{
	left: 0rem;
}
.side-nav{
	background-color: #333;
}
.side-nav li.divider{
	border-top-color: #444;
}
#tool-bar{
	height: 2.5rem;
	margin-bottom: 0;
	padding: 0.25rem 0.5rem;
}
.wpstyle{
	background-color: #f7f7f7;
	border-color: #ccc;
	border-width: 1px;
	color: #333;
}
.wpstyle:hover{
	background-color: #fff;
	border-color: #333;
	border-width: 1px;
	color: #333;
}


#publish-tools{
	border: solid 1px #ccc;
}
#publish-tools hr{
	margin-top: 0;
}

div#tinyMCE {
	border: 1px solid #d8d8d8;
	padding: 10px;
	margin-bottom: 20px;
	height: 500px;
	overflow: auto;
}

/*Modal Styles*/

#media-modal {
	padding: 0;
	min-height: 80%;
}
#media-grid [class*="column"] + [class*="column"]:last-child{
	float: left;	
}

#media-modal .close-reveal-modal{
	top: 0;
}

#top-toolbar{
	background-color: rgba(252, 252, 252, 1);
	border-bottom: solid 1px #ccc;
	color: #000;
}
#top-toolbar label{
	display: inline-block;
	margin-left: .5rem;
}
#top-toolbar label.grid{
	display: inline;
	font-size: .5rem;
	padding: 0;
	margin: -1rem 0;
}
.media-frame-title{
	font-weight: bolder;
}

#media-grid{
	padding-bottom: 52px;
}

#bottom-toolbar {
	background-color: rgba(252, 252, 252, 1);
	border-top: solid 1px #ccc;
	position: absolute;
	display: none;
	bottom: 0;
}
#bottom-toolbar label{
	padding-bottom: .5rem;
}
#selected-count{
	margin-left: .25rem;
}
#bottom-toolbar i{
	font-size: 1.25rem;
	padding-top: .5rem;
}
#bottom-toolbar button {
	margin-left: 0.5rem;
}
#bottom-toolbar .icon-button, #bottom-toolbar .icon-button label{
	color: #222;
	background: #eee;
}
#bottom-toolbar .important-icon-button, #bottom-toolbar .important-icon-button label{
	color: #fff;
	background: #2ea2cc;
}

#buttons div{
	float: left;
}

#fw-button, #in-button, #m-button{
	-webkit-transition: 0.1s linear all;
	transition: 0.1s linear all;
	width: 33%;
}

#fw-button.shrink, #in-button.shrink, #m-button.shrink{
	width: 25%;
}

#cg-button{
	-webkit-transition: 0.1s linear all;
	transition: 0.1s linear all;
	width: 0%;
	height: 60px;
}

#cg-button.grow{
	width: 25%;
}


.fw-footer #in-button, .fw-footer #m-button{
	-webkit-transition: 0.1s linear all;
	transition: 0.1s linear all;
	width: 50%;
}

.fw-footer #in-button.shrink, .fw-footer #m-button.shrink{
	width: 33%;
}

.fw-footer #cg-button{
	-webkit-transition: 0.1s linear all;
	transition: 0.1s linear all;
	width: 0%;
	height: 60px;
}

.fw-footer #cg-button.grow{
	width: 33%;
}

#insert-button{
	color: #fff;
}

#insert-button:hover {
    cursor: pointer;
}

#selected-actions{
	padding-left: 1em;
}

#thumb-wrap{
	height: 63px;
	overflow: auto;
	white-space:nowrap;
}

#thumb-wrap img{
	display:inline;
}


/*Media Grid*/

.grid-wrap{	
	background: #eee;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 33.3333%;
	margin: 0;
	position: relative;
	border: solid 1px white;
}

.image-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.image-wrap:hover {
	cursor: pointer;
}
.image-wrap img {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
	max-width: 100%;
	height:auto;
	width:auto;
}
.image-wrap i{
	display: none;
}
.grid-wrap.selected i{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.25rem;
	z-index: 100;
	color: #2ea2cc;
}
#add-new{
	font-size: 2.5rem;
	color: #2ea2cc;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
	max-width: 100%;
	height:auto;
}
#add-new i{
	display: inline-block;
}

/*Full Width*/

#full-width-area {
    height: 500px;
    overflow: hidden;
    padding: 10px;
}
#full-width-area .right-arrow {
    position: absolute;
    bottom: 200px;
    right: 30px;
    font-size: 50px;
    /* Let's add some style to our arrow */
    width: 0;
    height: 0;
    border-left: 20px solid #2EA2CC;
    border-top: 20px inset rgba(255, 255, 255, 0);
    border-bottom: 20px inset rgba(255, 255, 255, 0);
}
#full-width-area .left-arrow {
    position: absolute;
    bottom: 200px;
    left: 30px;
    font-size: 50px;
    /* Let's add some style to our arrow */
    width: 0;
    height: 0;
    border-right: 20px solid #2EA2CC;
    border-top: 20px inset rgba(255, 255, 255, 0);
    border-bottom: 20px inset rgba(255, 255, 255, 0);
}
.fullwidth-wrap{	
	/*background: #eee;
	/*float: left;*/
	text-align: center;
	vertical-align: middle;
	position: relative;
	/*top: 0px;
	left: 0px;
	/*border: solid 1px white;*/
	/*margin-left: 100px;*/
	-webkit-backface-visibility: inherit;
	backface-visibility: inherit;
}
.fullwidth-wrap.transi{
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;  
}

.fullwidth-wrap i{
	position: absolute;
	bottom: .5em;
	left: .5em;
	font-size: 4.25rem;
	color: #dddddd;
	z-index: 1;
}
.fullwidth-wrap i:hover{
    cursor: pointer;
}
.fullwidth-wrap.selected i{
	font-size: 4.25rem;
	color: #2ea2cc;
}
.fw-image-wrap{
	background: #eee;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}
.fw-image-wrap:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.fw-image-wrap img {
	position: relative;
	text-align: center;
	max-height: 100%;
	max-width: 100%;
	height:auto;
	width:auto;
}
.fw-image-wrap i{
	display: none;
}
.fw-selected i{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1.25rem;
	color: #2ea2cc;
}

.fw #bottom-toolbar {
	display: block;
}

#slidertext {
	color: #2ba6cb;
	text-align: center;
	font-weight: bold;
	bottom: 1.5em;
}

.selected-pic-actions {
	position: relative;
	float: left;
	padding-top: 6px;
	padding-left: 1em;
}
.selected-pic-actions span {
	font-size: 0.8em;
}
.selected-pic-actions #clear {
	position: relative;
	top: -4px;
	color: #2ea2cc;
}
.selected-pic-actions #clear:hover {   
	cursor: pointer;
}

/* Meta Data */
.meta-wrap{
    background: #F0F0F0;
    border: solid 1px #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* border: solid 1px white; */
    /* margin-left: 100px; */
    /* height: 100%; */
    /* width: 90%; */
    -webkit-backface-visibility: inherit;
    backface-visibility: inherit;
}

.meta-wrap.transi{
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;  
}

/*Upload Page*/
#upload-area, #mobile-upload{
	padding: 2rem 1rem 5rem;
}
#from-url{
	border-top: solid 1px #ccc;
	padding: 1rem;
}

#from-url h5{
	padding-bottom: 1rem;
}

/*Uploading Grid*/
#uploading{
	display: inline-block;
	position: absolute;
	z-index: 100;
	font-size: 4rem;
	padding: 30% 20%;
}

@media only screen and (min-width: 40.063em){

	.grid-wrap{	
		padding: 0 0 25%;
	}
	#add-new{
		font-size: 5rem;
	}

}
@media only screen and (min-width: 64.063em){

	.grid-wrap{	
		padding: 0 0 16.6667%;
		margin: 0.9375em;
	}

}

@media only screen and (max-width: 40em) { 

    .fullwidth-wrap {
	backface-visibility: hidden;
        margin-left: 0px !important;
        width: 100%;
        top: 0px !important;
        padding: 0px;
    }
    .fullwidth-wrap i {
        position: absolute;
        font-size: 3.5rem;
    }
    .fullwidth-wrap.selected i{
        position: absolute;
        bottom: 40px;
        left: 40px;
        font-size: 3.5rem;
    }
    #full-width-area .right-arrow {
        position: absolute;
        bottom: 60px !important;
        right: 100px;
        font-size: 30px;
    }
    #full-width-area .left-arrow {
        position: absolute;
        bottom: 60px !important;
        left: 100px;
        font-size: 30px;        
    }  
    #slidertext {
        bottom: 1.5em;
    }
    #slidertext a.left-arrow{
	float: left;
	padding-left: 1em;
    }
    #slidertext a.right-arrow{
	float: right;
	padding-right: 1em;
    }
    #cg-button{
	font-size: 0.6em;
    }
    #cg-button label {
        font-size: .85rem;
	line-height: 0.8;
    }
    .meta-wrap {
	backface-visibility: hidden;
        margin-left: 0px !important;
        width: 100%;
        top: 0px !important;
        padding: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
    }
    .meta-wrap img{
	max-width: 30%;
	float: left;
    }
}

/*Meta Data View, Full Width*/
.card-container {
	perspective: 1000px;
	width: 100%;
}
.card-container.transi {
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;  
}

.flipper {
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
}

.card-container, .front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* hide back of pane during swap */
.front, .back {
	/*top: 0;
	left: 0;
	text-align: center;*/
	z-index: inherit;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

#meta-data-view.toggled i, #meta-data-view.toggled label{
	color: #2ea2cc;
}