<nav class="fixed tab-bar" id="top-toolbar">
    <div class="row">
 	  <div class="large-1 medium-2 small-4 columns preview" ng-click="gobackgrid()">
	    <a href="#/mediaGrid"><i class="fa fa-th-large"></i><label class="modal" for="Grid">Grid</label></a>
	  </div>       
        <div class="large-3 medium-3 columns hide-for-small media-frame-title left">
	    {{modalTitle}}
	  </div>
	  <div id="meta-data-view" class="large-3 medium-3 small-4 columns preview" ng-click="flip($event);">
	    <i class="fa fa-info"></i><label class="modal" for="Info">Edit Info</label>
	  </div>
	  <div class="large-3 medium-3 small-4 columns preview" ng-click="soon();">
	    <i class="fa fa-pencil"></i><label class="modal" for="Edit">Edit Image</label>
	  </div>
	  <a class="close-reveal-modal" ng-click="goHome()">&#215;</a>
    </div>
</nav>