<nav class="fixed tab-bar" id="top-toolbar">
    <div class="row">
        <div class="large-4 medium-3 columns hide-for-small media-frame-title left">
	    {{modalTitle}}
	  </div>
	  <div class="large-3 medium-3 small-5 columns preview">
	    <i class="fa fa-info"></i><label class="modal" for="Info">Info</label>
	  </div>
	  <div class="large-3 medium-3 small-5 columns preview">
	    <i class="fa fa-pencil"></i><label class="modal" for="Edit">Edit</label>
	  </div>
	  <a class="close-reveal-modal" ng-click="goHome()">&#215;</a>
    </div>
</nav>