<ng-include src="'assets/js/templates/modalNav.html'"></ng-include>
<div class="row" id="media-frame-content">
    <div class="large-12 columns left" id="media-grid">
	<div class="row">
	    <div class="grid-wrap small-4 medium-3 large-2 columns">
		<div class="image-wrap" id="add-new">
		    <a href="#/source"><i class="fa fa-plus-circle"></i><label for="add-new">Add New</label></a>
		    </div>
	    </div>
	    <div class="grid-wrap small-4 medium-3 large-2 columns" ng-repeat="image in images track by $index" ng-click="imageSelect( $index, $event )" data-index="{{ $index }}" image-watcher="image.large">
		<div class="image-wrap">
		    <i class="fa fa-check-square-o"></i>
		    <img src="{{image.large}}">
		</div>
	    </div>
	</div>
    </div>
</div>
<ng-include src="'assets/js/templates/modalFooter.html'"></ng-include>