<div class="row" id="bottom-toolbar">
    <div class="medium-6 columns hide-for-small" id="thumbs">
        <div class="2-columns">
            <span id="selected-items" class="small"></span> <span class="small" id="clear">Clear Selection</span>
        </div>
    </div>

    <div id="buttons" class="medium-6 columns">
        <div class="large-4 small-4 columns text-center icon-button">
            <i class="fa fa-file-image-o" id="view-button"></i> <label for="View Button">View</label>
        </div>

        <div class="large-4 small-4 columns text-center important-icon-button" ng-click="insertImages()">
            <i class="fa fa-arrow-circle-o-down" id="insert-button"></i> <label for="Insert Button">Insert<span id="selected-count"></span></label>
        </div>

        <div class="large-4 small-4 columns text-center icon-button">
            <i class="fa fa-ellipsis-h" id="more-button"></i> <label for="More Button">More</label>
        </div>
    </div>
</div>